@import url(//db.onlinewebfonts.com/c/7cc6719bd5f0310be3150ba33418e72e?family=Comic+Sans+MS);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS' !important;
}

body {
  display: flex;
  place-content: center;
  gap: 2rem;
  padding: 2rem;
}

.timeP {
  font-size: 14px;
  font-style: italic;
}

.headerDojo {
  width: 900px;
  background-color: gainsboro;
  color: black;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.pdng {
  padding: 1rem;
}

.votePg {
  width: 80%;
}

.description {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.voteBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  height: 7rem;
  margin: 1rem 0rem;
  width: 40%;
}

.bxBrdr {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  color: black;
  border: 3px solid black;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0rem;
  max-height: 500px;
  overflow: hidden;
}

.formControl {
  display: flex;
  background-color: gainsboro;
  color: black;
  border: 3px solid black;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0rem;
}

.recent {
  overflow-y: scroll;
}

.stadisticSmall {
  height: 60px;
}

.flx1 {
  flex: 1;
}

.flx3 {
  flex: 3;
  /* justify-content: flex-start !important; */
  /* align-items: flex-start; */
}

.boxPoll {
  background-color: white;
  justify-content: space-between !important;
  height: 7rem;
  text-align: left;
  margin: 1rem 0rem;
  width: 90%;
  border: 2px solid black;
}

.clmn {
  flex-direction: column;
}

.flx {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
  /* justify-content: flex-end; */
}

.mrgnTp {
  margin-top: 1rem;
}

hr {
  margin-bottom: 1rem;
}

.lftSide {
  justify-content: flex-end;
}

canvas {
  height: 300px !important;
}

.success {
  background-color: lightgreen;
  border: 2px solid black;
  width: calc(100% - 2rem);
  padding: 0.5rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  width: auto;
  padding: 1rem;
  height: 2rem;
  background-color: cornflowerblue;
  color: black;
  border: 1px solid black;
  box-shadow: 5px 5px black;
}

input {
  height: 2.5rem;
  width: 350px;
}

button:hover {
  color: white;
}

textarea {
  height: 10rem;
  width: 350px;
}

.errorType {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.txtBig {
  font-size: 4rem;
}